@import url(./stylesheets/root.css);
@import url(./stylesheets/themes.css);
@import url(./stylesheets/view_home.css);

section.debug {
  border: 1px solid var(--foreground);
  overflow-y: auto;
  border-radius: 5px;
  min-height: 150px;
  padding: 1rem;

  pre {
    white-space: pre-wrap;
  }
}
